In [6]:
# Loading the dataset
import pandas as pd
filepath="C:\Summer Training\Project\Mall_Customers.csv"
data = pd.read_csv(filepath)
# Display the dataset
print(data)

# Checking missing values
missing_values=data.isnull().sum()
print(missing_values)

mean_age=data['Age'].mean()
data["Age"].fillna(mean_age,inplace=True)
print(data)

# Renaming columns for better readability
data.columns = ["CustomerID", "Gender", "Age", "AnnualIncome", "SpendingScore"]
print(data)

# Data transformation (e.g., encoding categorical variables)
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})
print(data)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]
CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]
     CustomerID  Gender  Age  AnnualIncome  SpendingScore
0             1    Male   19            15             39
1             2    Male   21            15             81
2             3  Female   20            16              6
3             4  Female   23            16             77
4             5  Female   31            17             40
..          ...     ...  ...           ...            ...
195         196  Female   35           120             79
196         197  Female   45           126             28
197         198    Male   32           126             74
198         199    Male   32           137             18
199         200    Male   30           137             83

[200 rows x 5 columns]
     CustomerID  Gender  Age  AnnualIncome  SpendingScore
0             1       0   19            15             39
1             2       0   21            15             81
2             3       1   20            16              6
3             4       1   23            16             77
4             5       1   31            17             40
..          ...     ...  ...           ...            ...
195         196       1   35           120             79
196         197       1   45           126             28
197         198       0   32           126             74
198         199       0   32           137             18
199         200       0   30           137             83

[200 rows x 5 columns]

In [ ]:
'''
1)As there is no missing values, there is no need to clean the data. But I just for a safe side I have replaced the missing values with age column with
their mean.
2)Later I have renamed the columns with some other names  for my convenience. So it would be easy for me while doing work.
3)Then I have encoded the gender variables with 0 for male and 1 for female. it makes our work easy. we can easily identify then.
'''